{% extends "base.html" %}

{% block content %}
	<h1 id="astroport-name"> Astroport </h1>
	<ul id="gate-1"><a>Gate 1</a>
		<li id="ship-1">Ship 1</li>
	</ul>
	<ul id="gate-2"><a>Gate 2</a>
		<li id="ship-2">Ship 2</li>
	</ul>
	<ul id="gate-3"><a>Gate 3</a>
		<li id="ship-3">Ship 3</li>
	</ul>	
{% endblock %}