{% extends "base.html" %}

{% block content %}
	<h1 id="astroport-name"> Astroport </h1>
	<ul id="gate-1">Gate 1
		<li id="ship-1">Ship 1</li>
	</ul>
	<ul id="gate-2">Gate 2
		<li id="ship-2">Ship 2</li>
	</ul>
	<ul id="gate-3">Gate 3
		<li id="ship-3">Ship 3</li>
	</ul>
{% endblock %}