{% extends "base.html" %}

{% block content %}
	<h1 id="astroport-name"> Astroport </h1>
	<h1 id="gate-1">Gate 1</h1>
		<p id="ship-1">Ship 1</p>
	<h1 id="gate-2">Gate 2</h1>
		<p id="ship-2">Ship 2</p>
	<h1 id="gate-3">Gate 3</h1>
		<p id="ship-3">Ship 3</p>
{% endblock %}